## Using Mongo to Interact with MongoDB

In [3]:
# import necessary libraries
import os
import datetime
import pymongo
import pprint
import pandas as pd

### Connecting to MongoDB

In [4]:
host_name = "localhost"
port = "27017"


atlas_default_dbname = "sample_airbnb"
atlas_user_name = "ds2002"
atlas_password = "UVA1819"
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@cluster0.xuibg2h.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002:UVA1819@cluster0.xuibg2h.mongodb.net/sample_airbnb

### Show Collections and Database

In [5]:
db_name = "sample_airbnb"  # using sample_airbnb
db = client[db_name]      
db

Database(MongoClient(host=['ac-ybbavko-shard-00-02.xuibg2h.mongodb.net:27017', 'ac-ybbavko-shard-00-01.xuibg2h.mongodb.net:27017', 'ac-ybbavko-shard-00-00.xuibg2h.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-26toti-shard-0', tls=True), 'sample_airbnb')

In [6]:
print("Collections: ", db.list_collection_names())

Collections:  ['listingsAndReviews']

In [7]:
## putting the data into a pandas dataframe
fields = {"_id": 1, "name": 2, "accommodates": 3, "bedrooms": 4, "beds": 5, "bathrooms": 6, "number_of_reviews": 7}
cursor = list(db.listingsAndReviews.find({}, fields))
df = pd.DataFrame(cursor)
df

              
## add .limit(num_rows) to the end of this line: cursor = list(db.listingsAndReviews.find({}, fields)) to limit the number of rows*

,_id,name,accommodates,bedrooms,beds,number_of_reviews,bathrooms
0,10066928,3 chambres au coeur du Plateau,6,3.0,3.0,0,1.0
1,1001265,Ocean View Waikiki Marina w/prkg,2,1.0,1.0,96,1.0
2,10057447,Modern Spacious 1 Bedroom Loft,4,1.0,2.0,0,1.0
3,10057826,Deluxe Loft Suite,4,0.0,2.0,5,1.0
4,10021707,Private Room in Bushwick,1,1.0,1.0,1,1.5
...,...,...,...,...,...,...,...
5550,9807529,Upscale Room in The Plateau by LeQube,2,1.0,1.0,40,1.0
5551,9887054,Quarry Bay fully furnished studio C,1,1.0,1.0,4,1.0
5552,928725,Elegant flat in romantic old city,4,1.0,2.0,74,1.0
5553,9422452,Beautiful Sagrada Familia apartment,4,1.0,1.0,39,1.0
5554,958849,Hawaii North Shore Oahu getaway!,2,1.0,1.0,42,1.0

## Transfer DataFrame to SQL

In [8]:
## import libraries
from sqlalchemy import create_engine
import pymysql

#### information to place into the connection_str
host_name = "127.0.0.1"
port = "3306"
user_id = "ds2002"
pwd = "Uva!1819"

database_name = "Airbnb"

In [9]:
connection_str = 'mysql+pymysql://ds2002:Uva!1819@127.0.0.1:3306/airbnb'
engine = create_engine(connection_str)

In [10]:
df.to_sql('info', con=engine, if_exists='replace', index=False)

5555

In [11]:
engine.dispose()